{% extends "base.html" %}
{% block bodycontent %}
<!--header end-->
<div id="mainbody" style="background-color: #FFEFDB">
  <div class="blogs">
    <div class="newlist">
        <h2>您当前的位置：<a href="/">首页</a>&nbsp;>&nbsp;新增文章</h2>

        <ul>
            <form action="{% url 'sub_article' %}" method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="提交">
            </form>


            <!--<form method="get" action="{% url 'sub_article' %}">-->
            <!--{% csrf_token %}-->
            <!--<p>文章标题</p>-->
            <!--<div>-->
                <!--<select name="article_type" style="height: 20px; width: 120px;">-->
                    <!--<option selected="selected">请选择文章类型</option>-->
                    <!--<option value="love">Love</option>-->
                    <!--<option value="abouttest">测试相关</option>-->
                    <!--<option value="mytalk">个人杂谈</option>-->
                    <!--<option value="diary">偶尔能想起来的日记</option>-->
                <!--</select>-->
                <!--<input name="article_title" type="text" style="height: 20px;width: 500px;" placeholder="请输入文章标题">-->
            <!--</div>-->
            <!--<p>文章内容</p>-->
            <!--<textarea name="article_editor" rows="55" style="width: 630px;"></textarea>-->
            <!--<input type="submit" value="提交" style="margin-left: 300px;width: 60px;height: 20px;">-->
        <!--</form>-->
        </ul>
    <!--bloglist end-->
    </div>
  <!--blogs end-->
  </div>
</div>
<!--mainbody end-->
{% endblock bodycontent %}