{% extends 'base.html' %}

{% block bodycontent %}
<div id="mainbody">
  <div class="info">
    <figure> <img src="/static/images/art.jpg" alt="Panama Hat">
      <figcaption><strong>渡人如渡己，渡已，亦是渡</strong> 当我们被误解时，会花很多时间去辩白。 但没有用，没人愿意听，大家习惯按自己的所闻、理解做出判别，每个人其实都很固执。与其努力且痛苦的试图扭转别人的评判，不如默默承受，给大家多一点时间和空间去了解。而我们省下辩解的功夫，去实现自身更久远的人生价值。其实，渡人如渡己，渡已，亦是渡人。</figcaption>
    </figure>
    <div class="card">
      <h1>我的名片</h1>
      <p>网名：{{userInfo.nickname}}</p>
      <p>职业：{{userInfo.work}}</p>
      <p>公司：{{userInfo.company}}</p>
      <p>Email：{{userInfo.email}}</p>
      <ul class="linkmore">
        <li><a href="/" class="talk" title="给我留言"></a></li>
        <li><a href="/" class="address" title="联系地址"></a></li>
        <li><a href="/" class="email" title="给我写信"></a></li>
        <li><a href="/" class="photos" title="生活照片"></a></li>
        <li><a href="/" class="heart" title="关注我"></a></li>
      </ul>
    </div>
  </div>
  <!--info end-->
  <div class="blank"></div>
  <div class="blogs">
    <ul class="bloglist">
      {% for post in blogBody %}
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
          <h2 class="title"><a href="{% url 'article' post.id %}" target="_blank">{{post.blog_title}}</a></h2>
          <ul class="textinfo">
            <a href="/"><img src="{{post.blog_imgurl}}"></a>
            <p> {{post.blog_body}}</p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#">10</a></li>
            <li class="comments"><a href="#">34</a></li>
            <li class="icon-time"><a href="#">{{post.blog_timestamp}}</a></li>
          </ul>
        </div>
        <!--arrow_box end-->
      </li>
      {% endfor %}
      <div id="pagination">
      <span class="step_links">
        {% if page_obj.has_previous %}
          <a href="?page={{page_obj.previous_page_number}}">上一页</a>
        {% endif %}
        <span class="current">
          第{{page_obj.number}}页
        </span>
        {% if page_obj.has_next %}
          <a href="?page={{page_obj.next_page_number}}">下一页</a>
        {% endif %}
      </span>
    </div>
    </ul>
    <!--bloglist end-->
    <aside>
      {% include 'todayOnHistory.html' %}
      <div class="toppic">
        <h2>图文并茂</h2>
        <ul>
          <li><a href="/"><img src="/static/images/k01.jpg">腐女不可怕，就怕腐女会画画！
            <p>伤不起</p>
            </a></li>
          <li><a href="/"><img src="/static/images/k02.jpg">问前任，你还爱我吗？无限戳中泪点~
            <p>感兴趣</p>
            </a></li>
          <li><a href="/"><img src="/static/images/k03.jpg">世上所谓幸福，就是一个笨蛋遇到一个傻瓜。
            <p>喜欢</p>
            </a></li>
        </ul>
      </div>
      <!-- js calendar start-->
      {% include 'right_hot_clicks.html' %}
      <!-- js calendar end -->
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
        </form>
      </div>
    </aside>
  </div>
  <!--blogs end-->
</div>
{% endblock %}
